.Header-Image {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.Canteen-Name {
  text-align: center;
  padding-bottom: 10px;
}

.Canteen-Name > h1 {
  font-weight: 700;
}

.Canteen-Name > h3 {
  margin-top: -15px;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

@media only screen and (max-width: 1200px) {
  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
}

@media only screen and (max-width: 900px) {
  .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: auto;
    margin: auto;
  }
}

.Name-Price {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 5px;
}

.imgs {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.canteen-button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(240, 202, 40);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

@media only screen and (max-width: 800px) {
  .canteen-button {
    overflow-x: scroll;
  }
}

.canteen-button > button {
  background-color: rgba(240, 202, 40);
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 700;
}

.Name,
.Price {
  font-weight: 500;
}

.Time {
  width: 30%;
  border: 1px solid black;
  border-radius: 5px;
}

.search-container{
  background: #11cdef;
  padding: 1rem;
  margin-top:-4rem;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}